.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.contact-btn {
    position: fixed;
    top: 3em;
    left: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .contact-btn {
        top: 1em;
        left: 1em;
    }
}

.contact-btn:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.1);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}
