.projects {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10em;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    padding: 2em;
    z-index: 1;
}

.projects-btn {
    position: fixed;
    bottom: 3em;
    right: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .projects-btn {
        bottom: 1em;
        right: 1em;
    }

    .projects {
        flex-direction: column;
        gap: 5em;
    }
}

.projects-btn:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.project-list {
    display: flex;
    flex-direction: column;
    width: 40em;
    align-items: left;
    transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
}

.project-item {
    font-size: 1.8em;
    transition: all 0.2s ease-in-out;
    z-index: 10;
    white-space: nowrap;
    overflow: visible;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotate3d(0, 1, 0, -10deg);
    }
    100% {
        transform: perspective(1000px) rotate3d(0, 1, 0, 10deg);
    }
}

.project-image {
    display: block;
    width: 60em;
    animation: rotate 5s ease-in-out infinite alternate;
    opacity: .9;
}

.selected {
    font-size: 2.5em;
    text-decoration: underline;
}