.panel {
    position: fixed;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 3rem;
    animation: swell 3s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
}

@media all and (orientation:portrait) {
    .panel {
        height: 250vw;
        width: 250vw;
    }
}

@media all and (orientation:landscape) {
    .panel {
        height: 250vh;
        width: 250vh;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(-2%, 2%, 0);
    }

    25% {
        transform: translate3d(2%, 2%, 0);
    }

    50% {
        transform: translate3d(2%, -2%, 0);
    }

    75% {
        transform: translate3d(-2%, -2%, 0);
    }
}